<div class="edit-post" style="max-width: 600px; border: 0.1px solid lightgray;">

	<%= form_with model: @post, local: true do |f| %>

		<div class="image-field" onClick="$('#file').click()">
			<%= attachment_image_tag @post, :image, :fill, 600, 400, format: "jpeg", fallback: "prev_ima_1.jpg", size: "600x400", id: "img_prev", style: "width: 100%;" %>
		</div>
		<%= f.attachment_field :image, style: "display: none;", id: "file" %>

		<% if @post.errors.any? %>
			<% @post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		<% end %>

		<div class="text-field" style="padding: 20px;">
			<%= f.text_field :title, class: "form-control", placeholder: "タイトル", style: "margin-bottom: 20px;" %>
			<%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "form-control", placeholder: "タグ（複数のタグを付けるときは , で区切ってください)", style: "margin-bottom: 40px;" %>
			<%= f.text_area :body, class: "form-control", placeholder: "本文", style: "height: 400px; margin-bottom: 40px;" %>
			<%= f.text_field :post_code, class: "form-control", placeholder: "郵便番号", style: "max-width: 280px; margin-bottom: 20px;", id: "address_zipcode" %>
			<%= f.text_field :address, class: "form-control", placeholder: "住所", style: "margin-bottom: 20px;", id: "address" %>
			<div class="text-right">
				<%= f.submit "編集", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div></div>