<div class="new-post shadow">

	<%= form_with model: @post, local: true do |f| %>

		<% if @post.errors.any? %>
			<% @post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		<% end %>

		<div class="text-field" style="padding: 20px;">
			<%= f.attachment_field :post_images_images, multiple: true, id: "file" %>
			<%= f.text_field :title, class: "title-field form-control", placeholder: "タイトル" %>
			<%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "tag-field form-control", placeholder: "タグ（複数のタグを付けるときは , で区切ってください)" %>
			<%= f.text_area :body, class: "body-field form-control", placeholder: "本文" %>
			<%= f.text_field :post_code, class: "post-code-field form-control", placeholder: "郵便番号", id: "address_zipcode" %>
			<%= f.text_field :address, class: "address-field form-control", placeholder: "住所", id: "address" %>
			<div class="text-right">
				<%= f.submit "投稿", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>