<div class="post" style="width: 100%; max-width: 600px; border: 0.1px solid lightgray;">
	<%= link_to "編集", edit_post_path(@post) %>
	<div class="post-image">
		<%= attachment_image_tag @post, :image, :fill, 600, 400, format: "jpeg" %>
	</div>
	<div class="detail" style="padding: 20px;">
		<h4><%= @post.title %></h4>
		<p><%= @post.created_at %></p>
		<div class="post-body" style="margin-bottom: 40px;">
			<%= @post.body %>
		</div>
		<div class="creater-detail" style="border-top: 1px solid gray">
			<table class="table" style="margin-top: 20px;">
				<tr>
					<td rowspan="2">
						<%= link_to user_path(@user) do %>
							<%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: "jpeg", fallback: "no_image.jpg", :style => "border-radius: 80px;" %>
						<% end %>
					</td>
					<td colspan="2"><%= @user.name %></td>
				</tr>
				<tr>
					<td colspan="2"><%= @user.introduction %></td>
				</tr>
				<tr>
					<td colspan="3" class="text-right"><%= link_to "フォローする", "#", class: "btn btn-primary" %></td>
				</tr>
			</table>
		</div>
	</div>
</div>