<div class="post-content shadow">
	<div class="post-image">
		<div id="slider">
			<% @post.post_images.each do |post_image| %>
				<%= attachment_image_tag post_image, :image, :fill, 1200, 800, format: "jpeg", class: "image" %>
			<% end %>
		</div>
	</div>
	<div class="post-text">
		<h4><%= @post.title %></h4>
		<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
		<span><%= @post.likes.count %></span>
		<span style="margin-left: 8px;"><%= @post.created_at.to_s(:datetime) %></span>
		<div class="tag-list">
			<% @post.tag_list.each do |tag| %>
				<%= link_to tag, search_path(search_tag: tag, sort: "新着順"), class: "badge badge-default" %>
			<% end %>
		</div>
		<p><%= @post.address %></p>
		<% if @post.user == current_user %>
			<div class="edit-destroy-button" align="right">
				<%= link_to "編集", edit_post_path(@post), class: "btn btn-primary" %>
				<%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
			</div>
		<% end %>
		<div class="post-body">
			<%= simple_format(@post.body) %>
		</div>

		<h4><%= @post.address %></h4>
		<div id="map" style="height: 300px; background-image: url(<%= asset_path "no_map_img.jpg" %>); background-size: cover;"></div>

		<div class="post-content-footer" id="like-<%= @post.id %>">

			<%= render "users/posts/like", post: @post %>

		</div>
		<div class="creater-detail">
			<table class="table">
				<tr>
					<td rowspan="3" class="profile-image-td position-top">
						<%= link_to user_path(@post.user) do %>
							<%= attachment_image_tag @post.user, :profile_image, :fill, 80, 80, format: "jpeg", fallback: "no_image.jpg", class: "profile-image" %>
						<% end %>
					</td>
					<td colspan="2"><%= @post.user.name %></td>
					<td id="follow-<%= @post.user.id %>" class="text-right">

						<%= render "users/users/follow", user: @post.user %>

					</td>
				</tr>
				<tr>
					<td colspan="3"><%= simple_format(@post.user.introduction) %></td>
				</tr>
				<tr>
					<td>フォロー　<%= @post.user.followings.count %></td>
					<td colspan="2">フォロワー　<%= @post.user.followers.count %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="comment shadow">
	<p>コメント <%= @post.comments.count %>件</p>

	<%= render "users/posts/comments", post: @post %>

	<div class="comment-form" align="right">
		<%= form_with model: [@post, @comment] do |f| %>
			<%= f.text_area :body, class: "form-control", id: "comment-form-body" %>
			<%= f.submit "コメントする", class: "btn btn-sm btn-primary" %>
		<% end %>
	</div>
</div>

<% if @map != nil %>
	<script>
	function initMap(){
	  var pos = {lat: <%= @map[0] %>, lng: <%= @map[1] %>};

	  var map = new google.maps.Map(document.getElementById('map'), {
	  	center: pos,
	  	zoom: 15
	  });

	  var infowindow = new google.maps.InfoWindow({
	  	content: "<%= @post.address %>"
	  });

	  var marker = new google.maps.Marker({
	    position: pos,
	    map: map,
	    title: "<%= @post.address %>"
	　});

	  marker.addListener('click', function() {
	    infowindow.open(map, marker);
	  });
	}

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("API_KEY") %>&callback=initMap" async defer></script>
<% end %>