<div class="post shadow" style="max-width: 600px; margin-bottom: 20px; border: 0.1px solid lightgray; background-color: white;">
	<div class="post-image">
		<%= attachment_image_tag @post, :image, :fill, 600, 400, format: "jpeg", fallback: "no_image.jpg", style: "width: 100%;" %>
	</div>
	<div class="detail" style="padding: 20px;">
		<h4><%= @post.title %></h4>
		<span>
			<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
			<%= @post.likes.count %>
			　<%= @post.created_at.to_s(:datetime) %>
		</span>
		<div class="tag-list" style="margin: 10px 0 10px 0">
			<% @post.tag_list.each do |tag| %>
				<%= link_to tag, search_path(search_tag: tag, sort: "新着順"), class: "badge badge-default" %>
			<% end %>
		</div>
		<p style="margin-bottom: 30px;"><%= @post.address %></p>
		<% if @post.user == current_user %>
			<div class="edit" style="margin: -40px 0 20px 0;" align="right">
				<%= link_to "編集", edit_post_path(@post), class: "btn btn-primary" %>
				<%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger" %>
		</div>
		<% end %>
		<div class="post-body" style="margin-bottom: 40px;">
			<%= @post.body %>
		</div>

		<h4><%= @post.address %></h4>
		<div id="map" style="height: 300px; background-image: url(<%= asset_path "no_map_img.jpg" %>); background-size: cover;"></div>

		<div class="post-footer" style="font-size: 18px; margin-top: 20px;" id="like-<%= @post.id %>">

			<%= render "users/posts/like", post: @post %>

		</div>
		<div class="creater-detail" style="border-top: 1px solid gray">
			<table class="table" style="margin-top: 20px;">
				<tr>
					<td rowspan="3">
						<%= link_to user_path(@post.user) do %>
							<%= attachment_image_tag @post.user, :profile_image, :fill, 80, 80, format: "jpeg", fallback: "no_image.jpg", :style => "border-radius: 80px;" %>
						<% end %>
					</td>
					<td colspan="3"><%= @post.user.name %></td>
				</tr>
				<tr>
					<td colspan="3"><%= @post.user.introduction %></td>
				</tr>
				<tr>
					<td style="max-width: 120px;">フォロー　<%= @post.user.followings.count %></td>
					<td>フォロワー　<%= @post.user.followers.count %></td>
					<td id="follow-<%= @post.user.id %>" class="text-right">

						<%= render "users/users/follow", user: @post.user %>

					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="comment shadow" style="max-width: 600px; padding: 20px; border: 0.1px solid lightgray; background-color: white;">
	<p>コメント <%= @post.comments.count %>件</p>

	<%= render "users/posts/comments", post: @post %>

	<div class="comment-form" style="padding-top: 30px; border-top: 1px solid gray" align="right">
		<%= form_with model: [@post, @comment] do |f| %>
			<%= f.text_area :body, class: "form-control", id: "comment-form-body", style: "height: 100px;" %>
			<%= f.submit "コメントする", class: "btn btn-sm btn-primary", style: "margin-top: 15px;" %>
		<% end %>
	</div>
</div>

<% if @map != nil %>
	<script>
	function initMap(){
	  var pos = {lat: <%= @map[0] %>, lng: <%= @map[1] %>};

	  var map = new google.maps.Map(document.getElementById('map'), {
	  	center: pos,
	  	zoom: 15
	  });

	  var infowindow = new google.maps.InfoWindow({
	  	content: "<%= @post.address %>"
	  });

	  var marker = new google.maps.Marker({
	    position: pos,
	    map: map,
	    title: "<%= @post.address %>"
	　});

	  marker.addListener('click', function() {
	    infowindow.open(map, marker);
	  });
	}

	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("API_KEY") %>&callback=initMap" async defer></script>
<% end %>