<div class="edit-maypage shadow" style="max-width: 700px; padding: 20px; border: 0.1px solid lightgray; background-color: white;">

<% if @user.errors.any? %>
	<% @user.errors.full_messages.each do |message| %>
		<li><%= message %></li>
	<% end %>
<% end %>

<%= form_with model: @user, local: true do |f| %>
	<table class="table table-noborder">
		<tr>
			<td rowspan="5" style="width: 120px;">
				<div class="image-field" onClick="$('#file').click()">
					<%= attachment_image_tag @user, :profile_image, :fill, 90, 90, format: "jpeg", fallback: "prev_img_2.jpg", size: "90x90", id: "img_prev", style: "border-radius: 50px;" %>
				</div>
				<%= f.attachment_field :profile_image, id: "file", style: "display: none;" %>
			</td>
			<td><%= f.text_field :name, class: "form-control", placeholder: "名前" %></td>
			<td class="test"></td>
		</tr>
		<tr>
			<td colspan="2"><%= f.text_area :introduction, class: "form-control", style: "height: 200px;", placeholder: "自己紹介" %></td>
		</tr>
		<tr>
			<td><%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %></td>
			<td></td>
		</tr>
		<tr>
			<td><%= link_to "退会する", users_destroy_page_path, style: "color: gray;" %></td>
			<td align="right"><%= f.submit "編集", class: "btn btn-primary" %></td>
		</tr>
	</table>
<% end %>
</div>