<div class="mypage shadow">
	<table class="table">
		<tr>
			<td rowspan="3" class="profile-image-td position-top"><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, size: "80x80", format: "jpeg", fallback: "no_image.jpg" %></td>
			<td colspan="2"><%= @user.name %></td>
			<td align="right">
				<% if @user == current_user %>
					<%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %>
				<% else %>
					<div id="follow-<%=@user.id %>">

						<%= render "users/users/follow", user: @user %>

					</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td colspan="4"><%= simple_format(@user.introduction) %></td>
		</tr>
		<tr>
			<td>フォロー　<%= @user.followings.count %></td>
			<td colspan="2">フォロワー　<%= @user.followers.count %></td>
		</tr>
	</table>

	<ul class="nav nav-tabs nav-justified">
		<% if @tab == "いいね" %>
			<li role="presentation"><%= link_to "記事一覧", user_path(@user) %></li>
			<li role="presentation" class="active"><a>いいね</a></li>
			<li role="presentation"><%= link_to "フォロー", user_path(id: @user.id, tab: "フォロー") %></li>
			<li role="presentation"><%= link_to "フォロワー", user_path(id: @user.id, tab: "フォロワー") %></li>
		<% elsif @tab == "フォロー" %>
			<li role="presentation"><%= link_to "記事一覧", user_path(@user) %></li>
			<li role="presentation"><%= link_to "いいね", user_path(id: @user.id, tab: "いいね") %></li>
			<li role="presentation" class="active"><a>フォロー</a></li>
			<li role="presentation"><%= link_to "フォロワー", user_path(id: @user.id, tab: "フォロワー") %></li>
		<% elsif @tab == "フォロワー" %>
			<li role="presentation"><%= link_to "記事一覧", user_path(@user) %></li>
			<li role="presentation"><%= link_to "いいね", user_path(id: @user.id, tab: "いいね") %></li>
			<li role="presentation"><%= link_to "フォロー", user_path(id: @user.id, tab: "フォロー") %></li>
			<li role="presentation" class="active"><a>フォロワー</a></li>
		<% else %>
			<li role="presentation" class="active"><a>記事一覧</a></li>
			<li role="presentation"><%= link_to "いいね", user_path(id: @user.id, tab: "いいね") %></li>
			<li role="presentation"><%= link_to "フォロー", user_path(id: @user.id, tab: "フォロー") %></li>
			<li role="presentation"><%= link_to "フォロワー", user_path(id: @user.id, tab: "フォロワー") %></li>
		<% end %>
	</ul>

	<div class="row" style="padding: 15px;">
		<% if @tab == "記事一覧" || @tab == "いいね" %>
			<% @posts.each do |post| %>
				<div class="col-md-4 col-sm-6">
					<%= link_to post_path(post) do %>
						<div class="post-item-mypage shadow">
							<div class="post-image">
								<%= attachment_image_tag post.post_images[0], :image, :fill, 300, 180, format: "jpeg"%>
							</div>
							<div class="detail">
								<p class="limit2"><%= post.title %></p>
								<div class="post-footer" id="like-<%= post.id %>">

									<%= render "users/posts/like", post: post %>

								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		<% else %>
			<% @users.each do |user| %>
				<table class="table">
					<tr>
						<td rowspan="2" class="profile-image-td">
							<%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpg", size: "60x60" %>
							<% end %>
						</td>
						<td colspan="2"><%= user.name %></td>
						<td id="follow-<%= user.id %>" rowspan="2" align="right">

							<%= render "users/users/follow", user: user %>

						</td>
					</tr>
					<tr>
						<td class="follow">フォロワー　<%= user.followings.count %></td>
						<td class="follow">フォロー　<%= user.followers.count %></td>
					</tr>
				</table>
			<% end %>
		<% end %>
	</div>
		<div class="pagenation" align="center">
			<% if @tab == "記事一覧" || @tab == "いいね" %>
				<%= paginate @posts, class: "paginate" %>
			<% else %>
				<%= paginate @users, class: "paginate" %>
			<% end %>
		</div>
</div>