<div class="mypage" style="max-width: 700px; padding: 20px; border: 0.1px solid lightgray;">	<table class="table">
		<tr>
			<td rowspan="3"><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: "jpeg", fallback: "no_image.jpg", :style => "border-radius: 80px;" %></td>
			<td colspan="2"><%= @user.name %></td>
			<td align="right"><%= link_to "編集", edit_user_path(@user), class: "btn btn-primary" %></td>
		</tr>
		<tr>
			<td colspan="3"><%= @user.introduction %></td>
		</tr>
		<tr>
			<td>フォロー　0</td>
			<td>フォロワー　0</td>
		</tr>
	</table>

	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#">記事一覧</a></li>
		<li role="presentation"><a href="#">いいね</a></li>
		<li role="presentation"><a href="#">フォロー</a></li>
		<li role="presentation"><a href="#">フォロワー</a></li>
	</ul>

	<div class="row" style="padding: 15px;">
	<% @posts.each do |post| %>
		<div class="post col-sm-4 col-xs-6" style="padding: 5px 5px 0 5px;">
			<%= link_to post_path(post) do %>
				<div class="post" style="height: 200px; border: 0.1px solid lightgray">
					<div class="post-image" style="height: 60%;">
						<%= attachment_image_tag post, :image, :fill, 205, 120, format: "jpeg" %>
					</div>
					<div class="detail" style="padding: 10px;">
						<h4><%= post.title %></h4>
						<div class="footer">
							<%= post.created_at %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	</div>
</div>