<div class="sign-in shadow" align="center">
  <h2>ログイン</h2>
  <div class="sign-in-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "email-form form-control" %>
      <%= f.password_field :password, placeholder: "パスワード", class: "form-control" %>
      <%= f.submit "ログイン", class: "sign-in-btn btn btn-lg btn-primary" %>
    <% end %>
  </div>
  <%= link_to "会員登録はこちら", new_user_registration_path %>
</div>