<div class="admin-post">
	<div class="post-image">
		<%= attachment_image_tag @post, :image, :fill, 600, 400, format: "jpeg" %>
	</div>
	<div class="admin-post-detail">
		<h4><%= @post.title %></h4>
		<span>
			<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
			<%= @post.likes.count %>
			　<%= @post.created_at.to_s(:datetime) %>
		</span>
		<div class="admin-tag-list">
			<% @post.tag_list.each do |tag| %>
				<span class="badge badge-default"><%= tag %></span>
			<% end %>
		</div>
		<p><%= @post.address %></p>
		<div class="admin-post-destroy" align="right">
			<%= link_to "削除", admins_post_path(id: @post.id, com: "local"), method: :delete, class: "btn btn-danger" %>
		</div>
		<div class="admin-post-body">
			<%= simple_format(@post.body) %>
		</div>
		<div class="admin-post-footer" id="like-<%= @post.id %>">
			<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
			<%= @post.likes.count %>
			　<%= @post.created_at.to_s(:datetime) %>
		</div>
		<div class="admin-creater-detail">
			<table class="table">
				<tr>
					<td rowspan="3">
						<%= attachment_image_tag @post.user, :profile_image, :fill, 80, 80, format: "jpeg", fallback: "no_image.jpg" %>
					</td>
					<td colspan="3"><%= @post.user.name %></td>
				</tr>
				<tr>
					<td colspan="3"><%= simple_format(@post.user.introduction) %></td>
				</tr>
				<tr>
					<td style="max-width: 120px;">フォロー　<%= @post.user.followings.count %></td>
					<td>フォロワー　<%= @post.user.followers.count %></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="admin-comment">
	<p>コメント <%= @post.comments.count %>件</p>

	<%= render "users/posts/comments", post: @post %>

</div>