<div class="row">
	<div class="side-bar col-md-3">
		<table class="table post-rank shadow2">
			<thead>
				<tr class="active">
					<th colspan="2">記事ランキング</th>
				</tr>
			</thead>
			<tbody>
				<% @post_ranks.each_with_index do |post_rank, i| %>
				<tr>
					<td style="width: 30px;">
						<% if i == 0 %>
							<%= image_tag "1.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 1 %>
							<%= image_tag "2.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 2 %>
							<%= image_tag "3.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 3 %>
							<%= image_tag "4.jpg", alt: "サブタイトル", width: "20px" %>
						<% else %>
							<%= image_tag "5.jpg", alt: "サブタイトル", width: "20px" %>
						<% end %>
					<td>
						<%= link_to post_rank.title, post_path(post_rank), class: "limit1" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table user-rank shadow2">
			<thead>
				<tr class="active">
					<th colspan="2">人気クリエイター</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, i| %>
				<tr>
					<td style="width: 30px;">
						<% if i == 0 %>
							<%= image_tag "1.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 1 %>
							<%= image_tag "2.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 2 %>
							<%= image_tag "3.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 3 %>
							<%= image_tag "4.jpg", alt: "サブタイトル", width: "20px" %>
						<% else %>
							<%= image_tag "5.jpg", alt: "サブタイトル", width: "20px" %>
						<% end %>
					</td>
					<td>
						<%= link_to user.name, user_path(user), class: "limit1" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="post-list col-md-7">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-lg-4 col-md-6 col-sm-4">
					<%= link_to post_path(post) do %>
						<div class="post-item shadow2">
							<div class="post-image">
								<%= attachment_image_tag post, :image, :fill, 345, 210, format: "jpeg", class: "image" %>
							</div>
							<div class="detail">
								<p class="limit2"><%= post.title %></p>

								<div class="post-footer" id="like-<%= post.id %>">
									<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
									<span><%= post.likes.count %></span>
									<span style="margin-left: 8px;"><%= post.created_at.to_s(:datetime) %></span>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="side-bar col-md-2">
		<div class="tag-rank shadow">
			<table class="table">
				<thead>
					<tr>
						<th class="active">人気タグ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<% @tags.each do |tag| %>
								<%= link_to tag, search_path(search_tag: tag.name, sort: "新着順"), class: "badge badge-default" %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>