<div class="row">
	<div class="col-sm-3" style="padding: 5px;">
		<table class="table shadow2" style="border: 1px solid lightgray; background-color: white;">
			<thead>
				<tr class="active">
					<th colspan="2">記事ランキング</th>
				</tr>
			</thead>
			<tbody>
				<% @post_ranks.each_with_index do |post_rank, i| %>
				<tr style="border-top: 1px solid lightgray;">
					<td style="width: 30px;">
						<% if i == 0 %>
							<img src="assets/1.jpg" alt="サイトタイトル" width="20px">
						<% elsif i == 1 %>
							<img src="assets/2.jpg" alt="サイトタイトル" width="20px">
						<% elsif i == 2 %>
							<img src="assets/3.jpg" alt="サイトタイトル" width="20px">
						<% elsif i == 3 %>
							<img src="assets/4.jpg" alt="サイトタイトル" width="20px">
						<% else %>
							<img src="assets/5.jpg" alt="サイトタイトル" width="20px">
						<% end %>
					<td>
						<%= link_to post_rank.title, post_path(post_rank), style: "color: gray; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table shadow2" style="border: 1px solid lightgray; margin-top: 20px; background-color: white;">
			<thead>
				<tr class="active">
					<th colspan="2">人気クリエイター</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, i| %>
				<tr style="border-top: 1px solid lightgray;">
					<td style="width: 30px;">
						<% if i == 0 %>
							<img src="assets/1.jpg" alt="サイトタイトル" width="20px">
						<% elsif i == 1 %>
							<img src="assets/2.jpg" alt="サイトタイトル" width="20px">
						<% elsif i == 2 %>
							<img src="assets/3.jpg" alt="サイトタイトル" width="20px">
						<% elsif i == 3 %>
							<img src="assets/4.jpg" alt="サイトタイトル" width="20px">
						<% else %>
							<img src="assets/5.jpg" alt="サイトタイトル" width="20px">
						<% end %>
					</td>
					<td>
						<%= link_to user.name, user_path(user), style: "color: gray; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-sm-7">
		<div class="row">

		<% @posts.each do |post| %>
			<div class="col-sm-4 col-xs-6" style="padding: 5px;">
				<div class="post shadow2" style="height: 200px; border: 1px solid lightgray; background-color: white;">
					<div class="post-image" style="height: 120px;">
						<%= link_to post_path(post) do %>
							<%= attachment_image_tag post, :image, :fill, 420, 240, format: "jpeg", style: "width: 100%;" %>
						<% end %>
					</div>
					<div class="detail" style="padding: 10px;">
						<%= link_to post_path(post) do %>
							<p style="font-size: 15px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;"><%= post.title %></p>
						<% end %>
						<div class="footer" id="like-<%= post.id %>" style="position: absolute; bottom: 10px;">
							<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
							<span style="font-size: 12px;"><%= post.likes.count %></span>
							<span style="margin-left: 8px; font-size: 12px;"><%= post.created_at.to_s(:datetime) %></span>
						</div>
					</div>
				</div>
			</div>
		<% end %>

		</div>
	</div>
	<div class="col-sm-2" style="padding: 0;">
		<div class="category-list shadow" style="border: 1px solid lightgray; background-color: white;">
			<table class="table">
				<thead>
					<tr>
						<th class="active">人気タグ</th>
					</tr>
				</thead>
				<tbody style="border-top: 1px solid lightgray;">
					<tr>
						<td>
							<% @tags.each do |tag| %>
								<%= link_to tag, search_path(search_tag: tag.name, sort: "新着順"), class: "badge badge-default" %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>