<div class="row">
	<div class="col-md-3" style="padding: 5px;">
		<table class="table shadow2" style="border: 1px solid lightgray; background-color: white;">
			<thead>
				<tr class="active">
					<th colspan="2">記事ランキング</th>
				</tr>
			</thead>
			<tbody>
				<% @post_ranks.each_with_index do |post_rank, i| %>
				<tr style="border-top: 1px solid lightgray;">
					<td style="width: 30px;">
						<% if i == 0 %>
							<%= image_tag "1.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 1 %>
							<%= image_tag "2.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 2 %>
							<%= image_tag "3.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 3 %>
							<%= image_tag "4.jpg", alt: "サブタイトル", width: "20px" %>
						<% else %>
							<%= image_tag "5.jpg", alt: "サブタイトル", width: "20px" %>
						<% end %>
					<td>
						<%= link_to post_rank.title, post_path(post_rank), style: "color: gray; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table shadow2" style="border: 1px solid lightgray; margin-top: 20px; background-color: white;">
			<thead>
				<tr class="active">
					<th colspan="2">人気クリエイター</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each_with_index do |user, i| %>
				<tr style="border-top: 1px solid lightgray;">
					<td style="width: 30px;">
						<% if i == 0 %>
							<%= image_tag "1.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 1 %>
							<%= image_tag "2.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 2 %>
							<%= image_tag "3.jpg", alt: "サブタイトル", width: "20px" %>
						<% elsif i == 3 %>
							<%= image_tag "4.jpg", alt: "サブタイトル", width: "20px" %>
						<% else %>
							<%= image_tag "5.jpg", alt: "サブタイトル", width: "20px" %>
						<% end %>
					</td>
					<td>
						<%= link_to user.name, user_path(user), style: "color: gray; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-md-7">
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-sm-4" style="padding: 0 5px 10px 5px;">
					<%= link_to post_path(post) do %>
						<div class="post-item shadow2" style="height: 225px; border: 0.1px solid lightgray; background-color: white;">
							<div class="post-image" style="height: 63%;">
								<%= attachment_image_tag post, :image, :fill, 460, 280, format: "jpeg", style: "width: 100%;" %>
							</div>
							<div class="detail" style="padding: 10px;">
								<p style="font-size: 15px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;"><%= post.title %></p>

							<div class="footer" id="like-<%= post.id %>" style="position: absolute; bottom: 10px;">
								<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
								<span style="font-size: 12px;"><%= post.likes.count %></span>
								<span style="margin-left: 8px; font-size: 12px;"><%= post.created_at.to_s(:datetime) %></span>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>

		</div>
	</div>
	<div class="col-md-2" style="padding: 0;">
		<div class="category-list shadow" style="border: 1px solid lightgray; background-color: white;">
			<table class="table">
				<thead>
					<tr>
						<th class="active">人気タグ</th>
					</tr>
				</thead>
				<tbody style="border-top: 1px solid lightgray;">
					<tr>
						<td>
							<% @tags.each do |tag| %>
								<%= link_to tag, search_path(search_tag: tag.name, sort: "新着順"), class: "badge badge-default" %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>iv>